.list li a,.bestsellers li a:hover,.name a:hover,.hover:hover .wrapper_pic_t,.hover:hover .wrapper_pic_r,.hover:hover .wrapper_pic_b,.hover:hover .wrapper_pic_l {
    -webkit-transition:all .4s ease 0;
    -moz-transition:all .4s ease 0;
    -ms-transition:all .4s ease 0;
    -o-transition:all .4s ease 0;
    transition:all .4s ease 0;
}

.contentPadd.r_view,.contentPadd.t_view,.sf-menu>li>a:hover {
    -webkit-transition:all .4s ease-in-out 0;
    -moz-transition:all .4s ease-in-out 0;
    -ms-transition:all .4s ease-in-out 0;
    -o-transition:all .4s ease-in-out 0;
    transition:all .4s ease-in-out 0;
}

.class_name {
    -webkit-box-shadow:0 0 3px #b2ac9c;
    -moz-box-shadow:0 0 3px #b2ac9c;
    box-shadow:0 0 3px #b2ac9c;
}

#back-top a {
    -webkit-transition:all 1s ease 0;
    -moz-transition:all 1s ease 0;
    -ms-transition:all 1s ease 0;
    -o-transition:all 1s ease 0;
    transition:all 1s ease 0;
}

::selection,::-moz-selection {
    background:#545252;
    color:#fff;
}