* {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

.clear {
    clear: both;
}
Body {
    width: 1000px;
    margin: 0 auto;
    background: #fff;
}

#MainBody 
{
    width: 100%;
    background: #d60508;
    padding: 0 30px;
}

#page {
    /*background: #f6b600;*/
    width: 100%;
}

#header {
    background: url('/Images/Background/bgHeader.jpg') repeat-x;
    padding: 10px 10px 0;
}

#Content {
    background: #f6b600;
    width: 100%;
}

#Content .title
{
    background: #d60508;
    border-top: 2px solid #ec4e5c;
    height: 60px;
    color: white;
    font-family: tahoma;
    font-weight: bold;
    font-size: 24px;
    width: 100%;
    padding-left: 50px;
    text-justify: inherit
}

#Content img {
    /*width: 100%;*/
}

#facebook {
    background: #fff;
    margin: 10px 0;
    /*border-top: 2px solid #999;*/
    padding: 10px;
}