* {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

.clear {
    clear: both;
}
Body {
    width: 1000px;
    margin: 0 auto;
    background: #fff;
}

.clear {
    clear: both;
}
#MainBody 
{
    width: 100%;
    background: #007c3d;
    padding: 0 30px;
}

#page {
    /*background: #f6b600;*/
    width: 100%;
}

#header {
    background: url('/Images/Background/bgHeader.jpg') repeat-x;
    /*padding: 10px 10px 0 0;*/
    height: 100px;
    overflow: hidden;
    display: block;
    margin-bottom: 4px
}

#banner-bottom {
    display: block;  
}
#banner-bottom ul {
    margin-left: 20px;
}
#banner-bottom ul li {
    list-style: url('/Images/Background/bg-li.jpg');
}

#banner-bottom ul li {
    font-size: 20px;
}
#banner-bottom ul li .list {
    color: #d8231a;
    font-size: 34px;
}

#Content {
   /* background: #f6b600; */
    width: 100%;
    text-align:center;
}

#Content .Title, .TitleYellow, .TitleWhite, .TitleYellowLine
{
    background: transparent;
    margin:2px auto;
    height: 50px;
    font-family:Tahoma, Times New Roman;
    font-size:30px;
    font-style:normal;
    font-weight:bold;
    text-align:justify;
    padding-left:50px;
    padding-top:5px;
    vertical-align:bottom;
    position:inherit;
}

#Content .TitleLine {
    background: url('/Images/Background/bgTitleLine.jpg') repeat-x;
    display: inline-block;
    height: 72px;
    color: white;
    width: 100%;
    padding-top: 20px;
    font-weight: bold;
}
#Content .TitleLine .content
{
    display: inline-block;
    float: left;
    font-size: 30px;
    padding-top: 5px;
    overflow: hidden;
    width: 930px;
    text-align: left;
}

#Content .TitleLine .number {
    background: url('/Images/Background/bgNumber.png') no-repeat;
    width: 51px;
    height: 51px;
    display: block;
    float: left;
    font-size: 40px;
    font-weight: bold;
    margin-right: 15px;
}

#Content .TitleWhite
{
    color: white;    
}

#Content .FlashPlayerFrame
{
    /*background:#f6b600;*/
    width:100%;
    height:775px;    
}

#Content .DetailTop
{
    
}

#Content .DetailBot
{
    padding:10px 10px 10px 10px;
    background:white;
    -webkit-border-radius: 25px;  
    -moz-border-radius: 25px;  
    border-radius: 25px; 
    margin-top:10px;
    margin-bottom:10px;
    width:980px;
    height:220px;
}

#Content .CommentTop
{
    text-align:center;
    font-size:18pt;
    height:35px;
    width:100%;
    border:none;
    color:White;
}

#Content .Advantise3
{
    margin:10px 0px 10px 0px;
    width:100%;
    text-align:center;
    background:transparent;
    border:none;
    height:100px;
}

#Adv2 {
    text-align: left;
}
#Adv2 .GroupList {
    width: 300px;
    float: left;
}
#Adv2 .list1
{
    
}
#Adv2 .list1 .item {
    height: 80px;
}
#Adv2 .list1 .item .number {
    color: red;
    display: block;
    float: left;
    font-size: 50px;
    font-weight: bold;
    height: 80px;
    vertical-align:text-top;
    margin-right: 10px;
    text-align: right;
    width: 45px;
}
#Adv2 .list1 .item .title {
    color: #d8231a;
    
}
#Adv2 .list1 .item .desc {
    
}

#Content img {
    /*width: 100%;*/
}

#facebook {
    background: #fff;
    margin: 10px 0;
    /*border-top: 2px solid #999;*/
    padding: 10px;
}

#Content4 
{
    background: url('/Images/Background/bg_4.png') repeat;
    height:405px;
    width:100%;
    margin:0px;
    border:1.5px solid;
    border-color:Orange;
}   

#Content4 .ContentBg
{
    margin-left:2.5%;
    background:transparent;
    position:absolute;
    width:95%;
    height:295px;
}

#Content4  .number {
    background: url('/Images/Background/bgNumber.png') no-repeat;
    width: 51px;
    height: 51px;
    display: block;
    float: left;
    font-size: 40px;
    font-weight: bold;
    margin-right: 15px;
}
#Content4 #contentbg1t
{
    width:586px;
    height:296px;
    float:left;
    }
#Content4 #contentbg1
{
    background: url('/Images/Background/Content4/4_03.gif');
    width:567px;
    height:225px;
    margin-top:20px;
    float:left;
    } 
#Content4 #contentbg1 p
{
    margin:0px 10px 0px 250px;
    text-align: justify;
    }
#Content4 #contentbg1 #pcontent4
{
    margin-top:40px;
    }
#Content4 #contentbg2
{
    width:328px;
    height:296px;
    background-color:White;
    float:left;
    margin-top:20px;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    
    }
#Content4 #contentbg11
{
    width:586px;
    height:61px;
    background-color:White;
    float:left;
    margin-top:10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    }
    
#Content4 #contentbg11 img
{
    width:80px;
    height:40px;
    }
#Content4 #contentbg11 #input
{
    height:20px;
    width:100px;
    position:absolute;
    top:11px;
    }    
#Content4 #contentbg11 #inpu1t    
{
    height:20px;
    width:100px;
    position:absolute;
    top:11px;
    } 
#Content4 #contentbg11 #syo
{
    float:left;
    width:250px;
    height:40px;
    position:relative;
    margin-top:10px;
    }    
#Content4 #contentbg11 #sgo
{
    float:left;
    width:250px;
    height:40px;
    margin-left:15px;
    position:relative;
    margin-top:10px;
    } 
#Content5
{
    background: url('/Images/Background/bg_4.png') repeat;
    width:100%;
    height:350px;
    margin:0px;
}

#Content5  .number {
    background: url('/Images/Background/bgNumber.png') no-repeat;
    width: 51px;
    height: 51px;
    display: block;
    float: left;
    font-size: 40px;
    font-weight: bold;
    margin-right: 15px;
}


#Content5 .AdvantiseTop
{
    width:858px;
    height:210px;
    background-color:#fff402;
    margin:25px auto;
    margin-bottom:40px;
    border-radius: 15px;
}

#Content5 #imagevn img
{
    height:210px;
    width:210px;
    margin-left:15px;
    }
#Content5 #imagevn
{
    float:left;
    }
#Content5 #infor p
{
    margin:10px 0 0 250px;
    text-align: justify;
    }



#Content6
{
    background: url('/Images/Background/bg_4.png') repeat;
    width:100%;
    height:530px;
    margin:20px 0px 20px 0px;
}

#Content6 .ContentDetail
{
    width:100%;
    height:400px;
    border:none;
    text-align:center;
}

.DetailDot
{
    width:100%;
    height:230px;
    border:4px;
    border-color:Yellow;
    border-style:dashed;
    -webkit-border-radius: 25px;  
    -moz-border-radius: 25px;  
    border-radius: 25px; 
}

#Content8
{
    width:100%;
    height:610px;
    border:none;
    background: url('/Images/Background/bg_4.png') repeat;
    margin:20px 0px 20px 0px;
}

#Content8 .Detail8
{
    width:100%;
    height:520px;
    text-align:center;
    vertical-align:top;
    padding-left:50px;
}

#Content8 .Video8
{
    float:left;
    width:575px;
    height:415px;
    position:inherit;    
}

#Content8 .Contact8
{
     float:left;
     margin-left:10px;
     margin-top:0px;
     width:300px;
     height:415px;
     background-color:Yellow;
    -webkit-border-radius: 10px;  
    -moz-border-radius: 10px;  
    border-radius: 10px; 
    position:inherit;
}

#Content8 .BotDetail
{
    float:left;
    position:relative;
    margin-top:5px;
    width:95%;
    height:100px;
}

.AdvantiseRectange
{
    width:100%;
    height:230px;
    border:none;
    background:white;
    margin-top:10px;
}